.btn{
    background-color:azure;
    box-shadow: 0 0 2px 1px gray;
    border-radius: 4px;
    color:black;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    
}
.btn:hover{
    background-color: bisque;
}
.btn-product{
    padding: 8px;
    background-color:darkgray;
    font-size: 20px;
    border: none;
    width: 60px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}
.btn-product1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}